<div class="flex flex-col sm:flex-row items-center justify-between mb-8 gap-6">
  <header>
    <h1 class="text-[28px] font-bold">Internet Plans</h1>
    <p class="text-slate-400 font-semibold">Manage service plans and pricing</p>
  </header>
  <button
    (click)="handleAdd()"
    class="flex items-center gap-2 px-4 py-2 bg-blue-800 hover:bg-blue-900 text-white text-sm font-semibold rounded-lg shadow-md shadow-blue-200 active:scale-95"
  >
    <lucide-icon name="plus" [size]="18"></lucide-icon>
    <span>Add Internet Plan</span>
  </button>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
  @if (isLoading()) {
    <div class="col-span-full flex flex-col items-center gap-2">
      <lucide-icon name="loader-circle" class="animate-spin text-blue-600"></lucide-icon>
      <span>Loading records...</span>
    </div>
  } @else {
    @for (plan of internetPlans(); track plan.id) {
      <app-internet-plan-card [internetPlanData]="plan" (selectedInternetPlan)="handleEdit(plan)" />
    } @empty {
      <div
        class="col-span-full flex flex-col items-center justify-center text-slate-400 border-2 border-dashed border-slate-100 rounded-xl"
      >
        <span>No data found.</span>
      </div>
    }
  }
</div>

<app-backdrop [showBackdrop]="isFormOpen()" (closeBackdrop)="isFormOpen.set(false)" />

<app-form-container
  [isFormOpen]="isFormOpen()"
  [formHeader]="selectedInternetPlan() ? 'Edit Internet Plan' : 'Add Internet Plan'"
  [formSubHeader]="'Please fill in the details below'"
  (closeForm)="isFormOpen.set(false)"
>
  <app-internet-plan-form
    inputs
    class="flex-1 overflow-hidden"
    [internetPlan]="selectedInternetPlan()"
    [isSaving]="isSaving()"
    (onSave)="handleSave($event)"
    (onCancel)="isFormOpen.set(false)"
  />
</app-form-container>
