<!-- TODO: make the table responsive -->

<div class="flex flex-col gap-4">
  <div class="flex flex-col sm:flex-row justify-between items-center gap-4">
    <div class="relative w-full sm:w-80">
      <span
        class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none text-slate-400"
      >
        <lucide-icon name="search" [size]="18"></lucide-icon>
      </span>
      <input
        (input)="onSearch($event)"
        type="text"
        placeholder="Search records..."
        class="w-full pl-10 pr-4 py-2 bg-white border border-slate-200 shadow-sm rounded-lg text-sm focus:outline-none focus:ring-2 focus:ring-blue-500/20 focus:border-blue-500 transition-all"
      />
    </div>
    <ng-content select="[tableActions]"></ng-content>
  </div>

  <div
    class="max-w-[calc(100vw-48px)] rounded-xl border border-slate-200 bg-white shadow-sm overflow-hidden"
  >
    <div class="w-full overflow-auto">
      <table class="w-full sm:w-[150] text-left text-sm overflow-x-auto">
        <thead class="bg-slate-50 text-slate-600 uppercase text-[11px] font-bold tracking-wider">
          <tr>
            @for (col of columns(); track col.key) {
              @if (
                col.isVisible === undefined || (col.isVisible !== undefined && col.isVisible())
              ) {
                <th class="px-6 py-4" [class.text-right]="col.key === 'actions'">
                  {{ col.label }}
                </th>
              }
            }
          </tr>
        </thead>
        <tbody class="divide-y divide-slate-100">
          @if (isLoading()) {
            <tr>
              <td [attr.colspan]="columns().length" class="px-6 py-12 text-slate-500 text-center">
                <div class="flex flex-col items-center gap-2">
                  <lucide-icon
                    name="loader-circle"
                    class="animate-spin text-blue-600"
                  ></lucide-icon>
                  <span>Loading records...</span>
                </div>
              </td>
            </tr>
          } @else {
            @for (row of data().items; track row.id) {
              <tr class="hover:bg-blue-100/30 transition-colors">
                @for (col of columns(); track col.key) {
                  @if (
                    col.isVisible === undefined || (col.isVisible !== undefined && col.isVisible())
                  ) {
                    <td class="px-6 py-4 text-slate-700">
                      @if (col.key === 'actions') {
                        <div class="flex items-center justify-end gap-3">
                          <ng-container
                            [ngTemplateOutlet]="columnTemplates()['actions']"
                            [ngTemplateOutletContext]="{ row: row }"
                          ></ng-container>
                        </div>
                      } @else if (columnTemplates()[col.key]) {
                        <ng-container
                          [ngTemplateOutlet]="columnTemplates()[col.key]"
                          [ngTemplateOutletContext]="{ $implicit: row[col.key], row: row }"
                        ></ng-container>
                      } @else {
                        {{ row[col.key] }}
                      }
                    </td>
                  }
                }
              </tr>
            } @empty {
              <tr>
                <td [attr.colspan]="columns().length" class="p-6 text-slate-400 text-center">
                  No data found.
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>

    <div
      class="px-6 py-4 border-t border-slate-100 bg-slate-50/50 flex flex-col sm:flex-row justify-between items-center gap-4"
    >
      <p class="text-sm text-slate-500">
        Showing
        <span class="font-semibold text-slate-800">{{ data().items.length > 0 ? 1 : 0 }}</span> to
        <span class="font-semibold text-slate-800">{{ data().items.length }}</span> of
        <span class="font-semibold text-slate-800">{{ data().totalCount }}</span>
      </p>

      <nav class="flex items-center gap-2">
        <button
          (click)="onPageClick(data().pageNumber - 1)"
          [disabled]="!data().hasPreviousPage || isLoading()"
          class="p-2 rounded-lg border border-slate-200 bg-white text-slate-500 hover:bg-slate-50 disabled:opacity-30 transition-all"
        >
          <lucide-icon name="chevron-left" [size]="18"></lucide-icon>
        </button>

        <span class="text-sm font-medium text-slate-600 px-2">
          Page {{ data().pageNumber }} of {{ data().totalPages }}
        </span>

        <button
          (click)="onPageClick(data().pageNumber + 1)"
          [disabled]="!data().hasNextPage || isLoading()"
          class="p-2 rounded-lg border border-slate-200 bg-white text-slate-500 hover:bg-slate-50 disabled:opacity-30 transition-all"
        >
          <lucide-icon name="chevron-right" [size]="18"></lucide-icon>
        </button>
      </nav>
    </div>
  </div>
</div>
