<div class="flex flex-col sm:flex-row items-center justify-between mb-8 gap-6">
  <header>
    <h1 class="text-[28px] font-bold">Payment Methods</h1>
    <p class="text-slate-400 font-semibold">Manage payment options available to customers</p>
  </header>
  <button
    (click)="handleAdd()"
    class="flex items-center gap-2 px-4 py-2 bg-green-600 hover:bg-green-700 text-white text-sm font-semibold rounded-lg shadow-md shadow-green-200"
  >
    <lucide-icon name="plus" [size]="18"></lucide-icon>
    <span>Add Payment Method</span>
  </button>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
  @if (isLoading()) {
    <div class="col-span-full flex flex-col items-center gap-2">
      <lucide-icon name="loader-circle" class="animate-spin text-blue-600"></lucide-icon>
      <span>Loading records...</span>
    </div>
  } @else {
    @for (method of paymentMethods().items; track method.id) {
      <app-payment-method-card
        [paymentMethod]="method"
        (selectedPaymentMethod)="handleEdit(method)"
      />
    } @empty {
      <div
        class="col-span-full flex flex-col items-center justify-center text-slate-400 border-2 border-dashed border-slate-100 rounded-xl"
      >
        <span>No data found.</span>
      </div>
    }
  }
</div>

<div
  class="fixed inset-0 bg-slate-900/30 backdrop-blur-[2px] z-40 transition-opacity duration-300 opacity-0 pointer-events-none"
  [class.opacity-100]="isFormOpen()"
  [class.pointer-events-auto]="isFormOpen()"
  [class.opacity-0]="!isFormOpen()"
  [class.pointer-events-none]="!isFormOpen()"
  (click)="isFormOpen.set(false)"
></div>

<div
  class="fixed inset-y-0 right-0 w-full sm:max-w-md bg-white shadow-2xl z-50 transition-transform duration-300 border-l border-slate-100 translate-x-full"
  [class.translate-x-0]="isFormOpen()"
  [class.translate-x-full]="!isFormOpen()"
>
  <div class="flex flex-col h-full">
    <div
      class="px-6 py-5 border-b border-slate-100 flex items-center justify-between bg-slate-50/50"
    >
      <div>
        <h2 class="text-xl font-bold text-slate-800">
          {{ selectedPaymentMethod() ? 'Edit Payment Method' : 'Add Payment Method' }}
        </h2>
        <p class="text-xs text-slate-500 font-medium">Please fill in the details below</p>
      </div>
      <button (click)="isFormOpen.set(false)" class="p-2">
        <lucide-icon
          name="x"
          [size]="20"
          class="text-slate-400 hover:text-black transition-colors"
        ></lucide-icon>
      </button>
    </div>

    <app-payment-method-form
      class="flex-1"
      [paymentMethodData]="selectedPaymentMethod()"
      (onCancel)="isFormOpen.set(false)"
      (onSave)="handleSave($event)"
      [isSaving]="isSaving()"
    />
  </div>
</div>
