<div class="flex flex-col sm:flex-row items-center justify-between mb-8 gap-6">
  <header>
    <h1 class="text-[28px] font-bold">Payment Methods</h1>
    <p class="text-slate-400 font-semibold">Manage payment options available to customers</p>
  </header>
  <button
    (click)="handleAdd()"
    class="flex items-center gap-2 px-4 py-2 bg-green-600 hover:bg-green-700 text-white text-sm font-semibold rounded-lg shadow-md shadow-green-200"
  >
    <lucide-icon name="plus" [size]="18"></lucide-icon>
    <span>Add Payment Method</span>
  </button>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
  @if (isLoading()) {
    <div class="col-span-full flex flex-col items-center gap-2">
      <lucide-icon name="loader-circle" class="animate-spin text-blue-600"></lucide-icon>
      <span>Loading records...</span>
    </div>
  } @else {
    @for (method of paymentMethods().items; track method.id) {
      <app-payment-method-card
        [paymentMethod]="method"
        (selectedPaymentMethod)="handleEdit(method)"
      />
    } @empty {
      <div
        class="col-span-full flex flex-col items-center justify-center text-slate-400 border-2 border-dashed border-slate-100 rounded-xl"
      >
        <span>No data found.</span>
      </div>
    }
  }
</div>

<app-backdrop [showBackdrop]="isFormOpen()" (closeBackdrop)="isFormOpen.set($event)" />

<app-form-container
  [isFormOpen]="isFormOpen()"
  [formHeader]="selectedPaymentMethod() ? 'Edit Payment Method' : 'Add Payment Method'"
  [formSubHeader]="'Please fill in the details below'"
  (closeForm)="isFormOpen.set($event)"
>
  <app-payment-method-form
    inputs
    class="flex-1"
    [paymentMethodData]="selectedPaymentMethod()"
    (onCancel)="isFormOpen.set(false)"
    (onSave)="handleSave($event)"
    [isSaving]="isSaving()"
  />
</app-form-container>
